:root {
    --topBannerWidth: calc(100vw - (var(--pagePadding) * 2));
    --logoWidth: 150px;
    /* --pagePadding: 500px; */
    --pagePadding: 24vw; 
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
}

.topBannerContainer{
    background-color: #1F2937;
    margin: 0;
    padding-left: var(--pagePadding);
    padding-right: var(--pagePadding);
    display: flex;
    height: 400px;
    width: var(--topBannerWidth);
    /* width: auto; */
    flex-direction: column;
}

.topBannerTopContainer{
    display: flex;
    height: 30px;
    width: 100%;
    /* overflow: hidden; */
}

.topBannerTopContainerHeaderLogoDiv{
    align-items: center;
    display: flex;
    width: var(--logoWidth);
    min-width: var(--logoWidth);
}

.topBannerTopContainerHeaderLogoDivText {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    margin: 0;
}

.topBannerTopContainerRightDivsMainContainer {
    display: flex;
    justify-content: flex-end;
    max-width: 90%;
    width: calc(100% - var(--logoWidth));
    overflow: hidden;
}

.topBannerTopContainerRightDivsSubContainer {
    align-items: center;
    display: flex;
    max-width: 420px;
    gap: 10px;
}

.headerTopLinks {
    width: 110px;
    color: #E5E7EB;
    max-width: 130px;
    font-size: 13px;
}

.headerTopLinksLastLink {
    color: #E5E7EB;
    max-width: 130px;
    font-size: 13px;
}

.topBannerMiddleContainer {
    padding-top: 65px;
    padding-bottom: 85px;
    width: var(--topBannerWidth);
    height: 220px;
    display: flex
}

.topBannerWebsiteDescription {
    width: 50%;
}

h1 {
    font-size: 48px;
    font-style: bolder;
    color: #f9faf8;
    margin: 0;
    line-height: 100%;
}

.h1Description {
    font-size: 14px;
    color: #E5E7EB;
}

.topBannerSignUpButton {
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    color: white;
    width: 80px;
    height: 30px;
    padding: 0;
    font-weight: bold;
}

.topBannerImageDiv {
    width: 50%;
    justify-content: flex-end;
    display: flex;
}

.topBannerImage {
    max-width: 100%;
    max-height: 100%;
}

/**/

.randomInformationDiv {
    height: 350px;
    padding-left: calc(var(--pagePadding) + 50px);
    padding-right: calc(var(--pagePadding) + 50px);
}


/**/

.quoteDiv {
    /* max-height: 350px; */
    height: 350px;
    background-color: #e5e7eb;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding-left: calc(var(--pagePadding) + 70px);
    padding-right: calc(var(--pagePadding) + 70px);
    display: flex;
    align-items: center;
}

.quote {
    position: relative;
    line-height: 100%;

}

.quoterDiv{
    position: absolute;
    right: 20px;
    font-size: 17px;
    font-style: normal;
    font-weight: bold;
    color: #1F2937;
}

/**/

.callToActionDiv {
    height: 300px;
    padding-left: calc(var(--pagePadding));
    padding-right: calc(var(--pagePadding));
    display: flex;
    align-items: center;
}

.callToActionInnerContentDiv {
    height: 150px;
    width: 100%;
    background-color: #3882F6;
    border-radius: 5px;
    display: flex;
}

.callToActionLeftSide {
    width: 70%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* .callToActionLeftSideTextContainer {

} */

.callToActionMainText {
    font-weight: bold;
    color: #f9faf8;
    margin-bottom: 0px;
}

.callToActionSubText {
    margin-top: 0;
    font-weight: lighter;
    color: #f9faf8;
}

.callToActionRightSide {
    width: 30%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.callToActionSignUpButton {
    background-color: #3882F6;
    border: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
    color: white;
    width: 80px;
    height: 30px;
    padding-bottom: 3px;
}

/**/

.odinCopyrightDiv {
    height: 100px;
    background-color: #1F2937;
    padding-left: calc(var(--pagePadding));
    padding-right: calc(var(--pagePadding));
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}